[submodule "suitesparse"]
	path = suitesparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
[submodule "lapack"]
	path = lapack
	url = https://github.com/Reference-LAPACK/lapack.git
[submodule "blis"]
	path = blis
	url = https://github.com/flame/blis.git
[submodule "sleef"]
	path = sleef
	url = https://github.com/shibatch/sleef.git
