[submodule "suitesparse-src/suitesparse"]
	path = suitesparse-src/suitesparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git

[submodule "blis-src/blis"]
	path = blis-src/blis
	url = https://github.com/flame/blis.git

[submodule "netlib-lapack-src/lapack"]
	path = netlib-lapack-src/lapack
	url = https://github.com/Reference-LAPACK/lapack.git
